/* @    Fields */
/* @    ---- Form Actions */
.form-actions {
  // no margin and top corners set to 0 to show paragraph field as block
  margin: 1px 0 0 0;
  border-radius: 0 0 $border-radius $border-radius;
  background: var(--colorGinTableHeader);

  >input{
    margin: 1rem !important;
  }

  .button, .action-links {
    margin: 0;
  }
}

//.form-wrapper {
  /* @    -- Multi Table Field */
  //.form-item--multiple {
    //border: $border; // border around field to show field as block
    //border-radius: $border-radius;
    //box-shadow: $box-shadow; //box shadow around field not only the head
    //
    ///* @    ---- Table */
    //table.field-multiple-table {
    //  margin-bottom: 0;
    //  thead {
    //    th {
    //      border-radius: $border-radius $border-radius 0 0; // bottom corners set to 0 to show field as block
    //    }
    //  }
    //
    //  tbody {
    //    //background: white;
    //  }
    //
    //  /* @    ------ Draggable */
    //  .draggable {
    //    transition: opacity .3s, box-shadow .3s; // transition for drag pop-out
    //
    //    &.drag {
    //      /* @    -------- On Drag Pop Out */
    //      // make draggable items pop-out on drag
    //      box-shadow: $shadow__dialog;
    //      opacity: .5;
    //    }
    //
    //    td {
    //      .tabledrag-handle {
    //        // change drag handle view and position for better use
    //        &:after {
    //          //new drag handler
    //          content: '';
    //          position: relative;
    //          display: inline-block;
    //          left: -3px;
    //          padding: 0;
    //          margin: 0;
    //          width: 30px;
    //          height: 52px;
    //          vertical-align: middle;
    //          mask-position: center;
    //          mask-image: url(../img/draggable.svg);
    //          mask-repeat: no-repeat;
    //          mask-size: 24px 24px;
    //        }
    //      }
    //    }
    //  }
    //}

  //  /* @    ---- Form Actions */
  //  .form-actions {
  //    // no margin and top corners set to 0 to show paragraph field as block
  //    margin: 1rem;
  //    border-radius: $border-radius;
  //    background: var(--colorGinTableHeader);
  //
  //    .button, .action-links {
  //      margin: 0;
  //    }
  //  }
  //}

  //div[id*='-add-more-wrapper']{
  //  // dirty fix to make sure the border is not arround tabledrag toggle
  //  margin-top: 52px;
  //
  //  /* @    ---- Table Drag Toggle */
  //  .tabledrag-toggle-weight-wrapper {
  //    position: relative;
  //    height: 0;
  //    padding-bottom: 0;
  //    transform: translateY(-35px);
  //    z-index: 1;
  //  }
  //}
//}
