/* @ Claro */
/* @    -- Horizontal Tabs */
.horizontal-tabs ul.horizontal-tabs-list:after{
  //moved line down a little zo it won't go through focus
  margin-bottom: -5px;
}

/* @    -- Details */
/* @    ---- Description */
.claro-details__description {
  //field group description view highlighted
  margin-top: .5rem;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--colorGinPrimary);
  line-height: 1.5em;
  border-radius: $border-radius $border-radius;
  background: var(--colorGinAppBackground);
}