/* @    Fieldset */
fieldset {
  padding-top: 0;

  legend {
    .fieldset__label {
      //make fieldset label the same as paragraphs multi table head
      padding: 1rem;
      line-height: 1.25rem;
      background: var(--colorGinTableHeader);
    }
  }

  .fieldset__wrapper {
    //make fieldset content the same as paragraphs margin
    margin: 1rem;
  }
}