/* @    Global */
/* @    -- Input */
.claro-autocomplete,
input[type='text'],
input[type='email'],
select {
  width: 100%; // width 100% to make input fields always the same size, for a less chaotic view
}

/* @    -- Labels */
.form-item {
  > label { //create a bigger difference between the fieldset/paragraph head and form labels
    font-weight: normal;
    font-size: 1em;
  }
}

/* @    -- Description */
.form-item__description, .fieldset__description {
  //new description view
  max-width: none;
  margin-top: -.5rem;
  padding: 1rem .5rem .5rem .5rem;
  border-radius: 0 0 $border-radius $border-radius;
  color: var(--colorGinText);
  background: var(--colorGinItemHover);
}

/* @    -- Entity Reference Description */
.field--type-entity-reference{
  &.field--widget-entity-reference-autocomplete {
    .form-item__description {
      margin: -1rem 0 0 0;
      padding: .5rem .5rem .5rem .5rem;
      border-radius: 0;
    }
  }
}

/* @    ---- Boolean / Image Description */
.form-type--boolean, .form-type--managed-file {
  > .form-item__description, > .fieldset__description {
    //new description view
    margin-top: .5rem;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: $border-radius $border-radius;
  }
}

/* @    -- Filter Guidelines */
.text-full .filter-wrapper{
  //new filter guidelines view
  margin-top: -.5rem;
  padding: 1rem .5rem .5rem .5rem;
  border-radius: 0 0 $border-radius $border-radius;
  color: var(--colorGinText);
  background: var(--colorGinItemHover);

  ul{
    li{
      color: var(--colorGinText);
    }
  }

  + .form-item__description {
    margin-top: .5rem;
    padding: .5rem;
    border-radius: $border-radius $border-radius;
  }
}
