/* @ Library */
.field--widget-media-library-widget {

  /* @    -- Fieldset */
  .fieldset.media-library-widget {
    padding: 0; // remove useless space

    .fieldset__wrapper {
      margin-top: 0; // remove useless space
      margin-bottom: 0; // remove useless space

      /* @    ---- Preview Selection */
      .media-library-selection {
        &:empty {
          display: none; //don't show selection container if empty
        }

        .media-library-item__preview{
          >div{
            background-color: var(--colorGinAppBackground); // enlarge visual difference between name and media file
          }
        }
        
        /* @    ---- Remove Button */
        .media-library-item__remove {
          //style remove button
          color: transparent;
          padding: 0;
          border: 1px solid var(--colorGinDanger) !important;
          border-radius: 0;
          background-image: url('../img/crossred.svg');
          background-size: auto;
        }
      }

      .fieldset__suffix {
        // remove useless space from submit button container to have it look like form-actions container
        display: block;
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 1rem;
        border-top: $border;

        /* @    -- Submit button */
        input[type='submit'] {
          //make media submit button same as other buttons in edit fields
          margin-bottom: 1rem;
          padding: calc(0.5rem - 2px) calc(1rem - 2px);
          font-size: 0.79rem;
        }
      }

      /* @    -- Description */
      > .fieldset__description {
        //description alternative to show in media field
        margin: 0 -1rem 0 -1rem;
        padding: .5rem 1rem;
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }

  /* @    -- Empty Text */
  .media-library-widget-empty-text {
    display: none; //remove empty text, no need to show this
  }
}