.paragraphs-tabs-wrapper .field-multiple-table thead th{
  padding: 1rem 1.5rem 1rem 1rem;
  border-radius: $border-radius $border-radius 0 0;
}

///* @ Experimental */
//.field--widget-paragraphs {
//
//  /* @    -- Multiple */
//  .form-item--multiple {
//    * {
//      box-shadow: none; //box shadow around paragraph field not only the head
//    }
//  }
//
//  /* @    -- Subform */
//  .paragraphs-subform {
//    margin-left: -19px; // center field within  paragraph
//    margin-bottom: 20px; // a bit white space at bottom
//
//    > .form-wrapper:not(.field--widget-entity-reference-paragraphs):not(.field--widget-paragraphs) {
//      > div {
//        > div {
//          > .layer-wrapper {
//            > table {
//              > tbody {
//                > tr {
//                  > td.field-multiple-drag {
//                    vertical-align: middle; // dirty fix to set drag icon to middle for none paragraph items
//                  }
//                  > td:nth-child(2) {
//                    > div {
//                      margin-right: 0.75rem; // spacing of field in paragraph
//
//                      .paragraph-top {
//                        margin-right: -0.75rem; // undo spacing if paragraph in paragraph
//                      }
//                    }
//                  }
//                }
//              }
//            }
//          }
//        }
//      }
//    }
//
//    > .form-wrapper.field--widget-entity-reference-paragraphs, > .form-wrapper.field--widget-paragraphs {
//      > div[id*='-add-more-wrapper'] {
//        margin-top: 1rem; // remove margin at top of nested paragraph
//      }
//    }
//  }
//
//  /* @    -- Icon */
//  .paragraph-type-icon {
//    // make icon bigger
//    width: 24px;
//    height: 24px;
//  }
//
//  /* @    -- Table */
//  table {
//    tbody {
//      tr {
//        &:hover, &focus {
//          //hover and  focus style recovery, didn't work because of a background-color: inherit
//          background-color: var(--colorGinItemHover);
//        }
//
//        td {
//          // remove padding and height to have the paragraph top seemlessly connected to previous item
//          border-top: 1px solid var(--colorGinBorder);
//          height: auto;
//          padding-top: 0;
//          padding-bottom: 0;
//        }
//
//        /* @    ---- Paragraph Top */
//        .paragraph-top {
//          // make paragraph top stand out more
//          margin-left: -50px;
//          padding: 5px 0 5px 50px;
//          background: var(--colorGinAppBackground);
//        }
//
//        tr:only-child{
//          border-bottom: none;
//
//          .tabledrag-cell--only-drag{
//            display: none;
//          }
//
//          >td:nth-child(2){
//            >.form-item{
//              padding-left: 16px;
//            }
//          }
//
//          .paragraph-top {
//            // make paragraph top stand out more
//            margin-left: 0px;
//            padding: 5px 0 5px 5px;
//            border-radius: 0 0 $border-radius $border-radius;
//            background: var(--colorGinAppBackground);
//          }
//
//
//          /* @    ---- Subform */
//          .paragraphs-subform{
//            margin-left: 31px;
//
//            .tabledrag-cell--only-drag{
//              display: table-cell;
//            }
//          }
//        }
//      }
//    }
//
//    /* @    ---- Weight Toggled */
//    &.weight-toggled{
//      //different look when weight toggled
//      .draggable{
//        td:nth-child(2) {
//          width: 100%;
//          .paragraph-top {
//            margin-left: 0;
//            padding-left: 1rem;
//          }
//        }
//      }
//    }
//  }
//
//  .paragraphs-add-wrapper {
//    margin: 0 0 -0.5rem 0; //remove margin from add wrapper for a more consistent look of the forms action div
//    padding: 0; //remove padding from add wrapper for a more consistent look of the forms action div
//
//    input[type='submit'] {
//      margin-bottom: 0.5rem !important;
//    }
//  }
//
//  .paragraphs-dropbutton-wrapper {
//    // wrap paragraph buttons
//    display: flex;
//    flex-wrap: wrap;
//  }
//
//}
//
///* @ Classic */
//.field--widget-entity-reference-paragraphs {
//}
//
///* @ Modal Form Add Dialog */
//.paragraphs-add-dialog {
//  // buttons next to each other in paragraphs modal pop up
//  ul {
//    display: flex;
//    flex-wrap: wrap;
//
//    li {
//      flex: 1 0 30%;
//
//      &:last-child {
//        flex-grow: 0;
//      }
//    }
//  }
//}
//
///* > Media Queries < */
//@media only screen and (max-width: 767px) {
//  .paragraphs-add-dialog {
//    // buttons next to each other in paragraphs modal pop up media fix
//    ul {
//      li {
//        flex: 1 0 100%;
//      }
//    }
//  }
//}
