table {
  /* @    -- Weight Toggle */
  &.weight-toggled {
    thead {
      //change border radius to connect th parts
      th:first-child {
        border-radius: $border-radius 0 0 0 !important;
      }
      th:last-child {
        border-radius: 0 $border-radius 0 0 !important;
      }
    }
  }

  thead {
    th {
      //center text
      &.tabledrag-hide {
        padding-left: 1rem;
      }
    }
  }
  tbody {
    td {
      //center select box
      &.tabledrag-hide {
        > div {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}