/* @ Variables */
.gin-extra {
  /* @ Node Edit */
}
.gin--dark-mode .gin-extra #yoast-snippet {
  margin: 16px 0;
  padding: 0 16px;
  border-radius: 16px;
  background: white;
}

/*# sourceMappingURL=style.css.map */
