/* @ Variables */
$border-radius: 6px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$border: 1px solid var(--colorGinBorder);
$shadow__dialog: 0 0 24px 0 rgba(0,0,0,0.22), 0 24px 24px 0 rgba(0,0,0,0.30);

.gin-extra {
  /* @ Node Edit */
  &.gin--edit-form {
    .page-wrapper {
      //@import 'form-styling';
      //@import 'fields';
      //@import 'paragraphs';
      //@import 'media';
      //@import 'field-group';
      //@import 'table';
    }
  }
  @import 'realtimeseo';
}
